doctype html
html
  head
    title Asset Management
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel='stylesheet', href='https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css')
    link(rel='stylesheet', href='https://cdn.datatables.net/1.10.25/css/dataTables.bootstrap4.min.css')
    link(rel='stylesheet', href='/css/custom.css')
    script(src='https://code.jquery.com/jquery-3.5.1.min.js')
    script(src='https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js')
    script(src='https://cdn.datatables.net/1.10.25/js/jquery.dataTables.min.js')
    script(src='https://cdn.datatables.net/1.10.25/js/dataTables.bootstrap4.min.js')
    script(src='/js/main.js')
  body
   script.
      if (!localStorage.getItem('token') && window.location.pathname !== '/auth/login') {
        window.location = '/auth/login';
      }
      $.ajaxSetup({
        beforeSend: function(xhr) {
          const token = localStorage.getItem('token');
          if (token) {
            xhr.setRequestHeader('Authorization', 'Bearer ' + token);
          }
        }
      });
  nav.navbar.navbar-expand-lg.navbar-dark.bg-dark.mb-4
    a.navbar-brand(href='/') AssetMgmt
    ul.navbar-nav.mr-auto
      li.nav-item
        a.nav-link(href='/employees') Employees
      li.nav-item
        a.nav-link(href='/categories') Categories
      li.nav-item
        a.nav-link(href='/assets') Assets
      li.nav-item
        a.nav-link(href='/stock') Stock View
      li.nav-item.dropdown
        a#navbarDropdown.nav-link.dropdown-toggle(href='#', role='button', data-toggle='dropdown') Asset Actions
        .dropdown-menu
          a.dropdown-item(href='/assettransactions/issue') Issue Asset
          a.dropdown-item(href='/assettransactions/return') Return Asset
          a.dropdown-item(href='/assettransactions/scrap') Scrap Asset
      li.nav-item
        a.nav-link(href='/assettransactions/history') Asset History
  .container
    block content